<%- include('partials/Header') %>

<div class="container mt-4">
    <div class="card d-inline-block" style="width: 30%; margin:1.66;">
        <img src="https://3.bp.blogspot.com/-NG8E05ITnhU/WNyrUFR7vrI/AAAAAAAAAEM/1YuGI1YYNXEdkSTA14R_EnQYQCAuZus-gCLcB/s1600/237.jpg" class="card-img-top " style="height: 250px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>   
      <div class="card d-inline-block" style="width: 30%;margin:1.66;">
        <img src="https://s24193.pcdn.co/wp-content/uploads/2017/08/nail-salons-near-me-ENTITY-Instagram-madisonfrancesbailey-e1504119642941.png" class="card-img-top"style="height: 250px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> 
      <div class="card d-inline-block" style="width: 30%; margin:1.66;">
        <img src="https://s24193.pcdn.co/wp-content/uploads/2017/08/nail-salons-near-me-ENTITY-Instagram-madisonfrancesbailey-e1504119642941.png" class="card-img-top"style="height: 250px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>   
      
</div>

<%- include('partials/Footer') %>