<%- include('partials/Header') %>

<div class="jumbo container-lg">
    <div class="jumbotron text-center text-white"style="background: linear-gradient(to bottom, #fff, #ed44c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ; margin-top:90px">
    <img src="http://images8.design-editor.com/92/9293685/3958/8781D98C-E7A0-8B28-BED4-86520B3C7B90.jpg" class="card-img-top w-25" >
    <img src="http://images8.design-editor.com/92/9293685/3958/8781D98C-E7A0-8B28-BED4-86520B3C7B90.jpg" class="card-img-top w-25" >
    <img src="http://images8.design-editor.com/92/9293685/3958/8781D98C-E7A0-8B28-BED4-86520B3C7B90.jpg" class="card-img-top w-25" >
    <div>
      <h1 class="display-4 font-weight-bold">Vanessa Nail Tech</h1>
      <p class="lead display-4 ">Profetional Nail Art Tech</p>
    </div>
    </div>
  </div>
  
  <form class="w-25 justify-content-center mb-4 mx-auto fixed-bottom">
    <div class="form-group">
      <label for="exampleInputEmail1">Signup to get the latest styles and more for Nails.</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email address">
    </div>
    <button type="submit"style="background:#ed44c0; width:100%" class="btn btn-primary">Sign up</button>
  </form>
  
<%- include('partials/Footer') %>
