<%- include('partials/Header') %>

<div class="jumbo container-lg ">
    <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded text-center text-white"style="background: linear-gradient(to bottom, #fff, #ed44c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ; margin-top:90px">
    <img src="http://images8.design-editor.com/92/9293685/3958/8781D98C-E7A0-8B28-BED4-86520B3C7B90.jpg" class="img-thumbnail card-img-top w-25" >
    <img src="https://img.grouponcdn.com/deal/4DpuND4oxQjsme5VLb9F6K/451835441-2048x1229/v1/t300x182.jpg" class="img-thumbnail card-img-top w-25" >
    <img src="http://s24193.pcdn.co/wp-content/uploads/2017/08/nail-salons-near-me-ENTITY-Instagram-lipstickmixtapes-e1504122361297.png" class=" img-thumbnail card-img-top w-25" >
    <div>
      <h1 class="display-4 font-weight-bold" style="font-style: italic"><span class="text-danger">Vanessa</span> <span class="text-dark">Nail Tech</span></h1>
      <p class="lead display-4 "style="font-style: italic;">Profetional Nail Art Tech</p>
    </div>
    </div>
  </div>

      <form class="container-md justify-content-center mb-4 mx-auto fixed-bottom" style="width:20%">
        <div class="form-group">
          <label for="exampleInputEmail1">Subscribe to get the latest styles and more for Nails.    </label>
          <input type="email" class="form-control" id="exampleInputEmail1"     aria-describedby="emailHelp" placeholder="Enter your email address">
        </div>
        <button type="submit"style="margin:0 25% 20px 25%; background:#ed44c0; width:50%;" class="btn btn-primary">Subscribe</button>
      </form>
  
<%- include('partials/Footer') %>
