<%- include('partials/Header') %>

<div class=" jumbo container-lg">
    <div class="jumbotron text-center text-white mt-4"style="background: linear-gradient(to bottom, #fff, #ed44c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ; height:370px">
      <h1 class="display-4 font-weight-bold">Vanessa Nail Tech</h1>
      <p class="lead display-4">Profetional Nail Art Tech</p>
      <hr class="my-4">
      
    </div>
  </div>
  
<%- include('partials/Footer') %>
